<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<meta charset="utf-8">
<title>Five Guys Login</title>
<link href = "{% static "css/bootstrap.css" %}" rel = "stylesheet">
		<link href ="{% static "css/bootstrap-responsive.css" %}" rel = "stylesheet">
		<link href ="{% static "login.css" %}" rel = "stylesheet" type="text/css">
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
   		<<script src="{% static "js/bootstrap.min.js" %}"></script>

<style type="text/css">




</style>
</head>

<body>


<div style="text-align: left;">
<div class = "navbar navbar-fixed-top">

	<div class = "navbar-inner">

		<div class = "container">

			<a class = "btn btn-navbar" data-toggle = "collapse" data-target = ".nav-collapse">
				<i class = "icon-tasks"></i>
				</a>

			<a href = "#" class = "brand">Five Guys Burgers and Fries</a>

			<div class = "nav-collapse collapse">

				<ul class = "nav pull-right">
					<li><a href = "{% url 'admin_home' %}">Home</a></li>
					<li class = "dropdown">


					<li><a href = "{% url 'Users' %}">Users</a></li>
					<li><a href = "{% url 'report' %}">Reporting </a></li>
					<li><a href = "{% url 'Settings' %}">Settings </a></li>
					<li><a href = "{% url 'Create_Template' %}">Create Checklists </a></li>
					<li class=active><a href = "#">Store Locations</a></li>
                    <li><a href = "{% url 'Login' %}">Logout</a></li>

				</ul>
			</div>

		</div>
	</div>
</div> <!-- End navbar -->

</body>
</html>
<br/><br/><br/><br/><br/>
<div style="text-align: center;">
<div style="box-sizing: border-box; display: inline-block; width: auto; max-width: 480px; background-color: #FFFFFF; border: 2px solid #D4D4D4; border-radius: 5px; box-shadow: 0px 0px 8px #D4D4D4; margin: 50px auto auto;">
<div style="background: #D4D4D4; border-radius: 5px 5px 0px 0px; padding: 15px;"><span style="font-family: verdana,arial; color: #000000; font-size: 1.00em; font-weight:bold;">Add a Store Location</span></div>
<div style="background: ; padding: 15px">
<style type="text/css" scoped>
td { text-align:left}
	</style>

   <tr><td>Address:  &nbsp&nbsp</td><td><input type="text" id="storeidfl" name="StoreID"></td></tr><br>
 <tr><td>City:  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td><input type="text" id="soreidfl" name="StoreID"></td></tr><br>
    <tr><td>State:  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td><input type="text" id="storidfull" name="StoreID" maxlength="2" placeholder="__"></td></tr><br>
     <tr><td>Zip Code:  </td><td><input type="text" id="storeidful" name="StoreID"></td></tr><br>
 <tr><td>Store ID: &nbsp&nbsp</td><td> <input type="text" id="storeidvalue" name="StoreID" placeholder="Enter a 3 Digit Store ID"></td></tr>
 	<br/>

 <br/>
	<tr><td> </td><td><input type="submit" id= "storeidsubmit" value="Add"></td></tr>
   	

</form>
<script>
    var storeidvalue = 0
    $("#storeidvalue").on("change", function() {
        storeidvalue = $("#storeidvalue").val()
    });

    $("#storeidsubmit").on("click", function() {
        alert('Store Location Added Successfully');
        $.get("{% url 'new_location' %}",{'storeidvalue':storeidvalue},function(data){console.log(data)})
    })

</script>

</body>


</html>

