<!DOCTYPE html>
<html>
	<head>
		<title>Managers Page</title>
		<link href = "static/css/bootstrap.css" rel = "stylesheet">
		<link href = "static/css/bootstrap-responsive.css" rel = "stylesheet">
		<link href = "static/css/style.css" rel = "stylesheet">
		<link href = "../../../../../Desktop/Templates%202/login.css" rel = "stylesheet" type="text/css">
		<script src="http://code.jquery.com/jquery.js"></script>
   		<script src="static/js/bootstrap.min.js"></script>
	</head>

<body>


<div class = "navbar navbar-fixed-top">

	<div class = "navbar-inner">

		<div class = "container">

			<a class = "btn btn-navbar" data-toggle = "collapse" data-target = ".nav-collapse">
				<i class = "icon-tasks"></i>
				</a>

			<a href = "#" class = "brand">Five Guys Burgers and Fries</a>

			<div class = "nav-collapse collapse">

				<ul class = "nav pull-right">
					<li class = "active"><a href = "#">Home</a></li>
					<li class = "dropdown">


				</ul>
			</div>

		</div>
	</div>
</div> <!-- End navbar -->
<div class= "dropdownwrapper dropdowns">
<div class="btn-group">
  <button class="btn btn-large">Checklist</button>
  <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
</ul>

</div>

<div class= "btn-group">
 <button class="btn btn-large">Store Location</button>
  <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li> Troy </li>
    <li> Rochester Hills </li>
  </ul>
</div>
</div>

</body>
</html>