<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <link href = "{% static "css/bootstrap.css" %}" rel = "stylesheet">
		<link href ="{% static "css/bootstrap-responsive.css" %}" rel = "stylesheet">
    <link href="http://www.eyecon.ro/bootstrap-slider/css/slider.css" rel="stylesheet">

   		<script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="http://www.eyecon.ro/bootstrap-slider/js/bootstrap-slider.js"></script>
<style>
#customers
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#customers td, #customers th 
{
font-size:1em;
border:1px solid #000000;
padding:3px 7px 2px 7px;
}
#customers th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#ffffff;
color:#000000;
}
#customers tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}
</style>
</head>

<body>
<div style="text-align: left;">
<div class = "navbar navbar-fixed-top">

	<div class = "navbar-inner">

		<div class = "container">

			<a class = "btn btn-navbar" data-toggle = "collapse" data-target = ".nav-collapse">
				<i class = "icon-tasks"></i>
				</a>

			<a href = "#" class = "brand">Five Guys Burgers and Fries</a>

			<div class = "nav-collapse collapse">

				<ul class = "nav pull-right">
					<li><a href = "{% url 'admin_home' %}">Home</a></li>
					<li class = "dropdown">


					<li><a href = "{% url 'Users' %}">Users</a></li>
					<li calss=active><a href = "{% url 'report' %}">Reporting </a></li>
					<li><a href = "{% url 'Settings' %}">Settings </a></li>
					<li><a href = "{% url 'Create_Template' %}">Create Checklists </a></li>
					<li><a href = "{% url 'new_location' %}">Store Locations</a></li>
                    <li><a href = "{% url 'Login' %}">Logout</a></li>


				</ul>
			</div>

		</div>
	</div>
</div> <!-- End navbar -->
    <br> <br><br><br><br>

<table id="customers">
<tr>
  <th>Items</th>
  <th><div class="btn-group btn-group-justified">
  <div class="btn-group">
    <button type="button" class="btn btn-default">Fail &nbsp &nbsp </button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default">N/A &nbsp &nbsp &nbsp  </button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Pass &nbsp   </button>
  </div>
</div></th>

</div>

</tr>
    <!--tr><th>Salad Bar</th></tr-->

{% for Item in Items %}

<tr class="alt">
<td>{{ Item.description }}</td>
<td><input type="range" step="1" min="-1" max="1" class="itemvalue" value="1"> </td>


</tr>

{% endfor %}


</table>
    <br><br>
 <form action="{% url 'SummaryReport' %}">
	<input type="submit" value="Back" id="chec">
    </form>



<script>
    $(".itemvalue").each(function(){
        $(this).slider({
            handle: 'round'
        })
    })
</script>




</body>
</html>
